{% extends 'base.html' %}
{% load staticfiles %}
{% block content%}
<h1>Following</h1>
<div class="row following-container">
    {% if followings.all|length %}
        {% for following in followings.all %}
            <div class="col-md-12">
                <div class="row tabs-container">
                    <div class="col-md-2">
                        <img style="cursor:pointer;" onclick="window.location='{% url 'viewUserProfile' username=following.user_to.username %}'" class="profile_picture" src="{% static 'default_profile.png' %}">
                    </div>
                    <div class="col-md-8">
                        <div class="row user-label">
                            <div class="col-md-3">
                                <p style="cursor:pointer;" onclick="window.location='{% url 'viewUserProfile' username=following.user_to.username %}'" class="username-label">{{ following.user_to }}</p>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-outline-info">Unfollow</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>You are not Following to anyone</p>
    {% endif %}
</div>

{% endblock %}
